/* ================== Header Text ================== */
.header-text{
    margin-top: 15%;
}
.header-text h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
}
.header-text h1 .letter{
    display: inline-block;
    opacity: 0;
    transform: translateX(-30px);
    color: #ff004f;  
    animation: slideIn 0.5s forwards;
}
.header-text h1 .lastname{
    color: #fff;     
    display: inline-block;
}
.header-text p{
    margin-top: 20px;
    color: #ababab;
    font-size: 20px;
}

/* ================== Animations ================== */
@keyframes slideIn{
    0%{opacity:0; transform: translateX(-30px);}
    100%{opacity:1; transform: translateX(0);}
}

/* ================== Buttons ================== */
.btn, .btn2{
    display: inline-block;
    width: fit-content;
    max-width: 250px;
    text-align: center;
    padding: 14px 50px;
    margin-top: 20px;
    border-radius: 6px;
    border: 1px solid #ff004f;
    color: #fff;
    background: transparent;
    transition: all 0.5s;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover, .btn2:hover{
    background: #ff004f;
    color: #fff;
}


form .btn2{
    width: 100%;
    max-width: 250px;
    color: #fff;
    background: transparent;
    border: 1px solid #ff004f;
}
form .btn2:hover{
    background: #ff004f;
    color: #fff;
}
